

/****************************** ****************************** ******************************
                                    Index / Homepage
****************************** ****************************** ******************************/


#slideshow, #slideshow-2, #slideshow-overlay {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#slideshow {
    background-image: url('https://d1b8neuccscdpp.cloudfront.net/img/viewfinder/uploads/5a5e84cd30955.jpg');
}

#slideshow-2 {
    background-image: url('https://d1b8neuccscdpp.cloudfront.net/img/viewfinder/uploads/5a5e84c6570e8.jpg');
    animation: slideshow  10s infinite;
}

#slideshow-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient( to top,rgba(49, 57, 78, 0.5) 25%, rgba(0, 0, 0, 1.0));
}

/* 
    When image fades the background image will be revealed 
    giving the illusion of a slideshow
*/
@keyframes slideshow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





/****************************** ****************************** ******************************
                                   Index Header Content
****************************** ****************************** ******************************/


#header-content {
    position: relative;
    height: 100vh;
    font-family: 'Passion One Bold', sans-serif;
    text-align: center;
    z-index: 1;
}

#header-content h1, #header-content span {
    border-radius: 2px;
    box-shadow: var(--boxshadow);
}

#header-content h1 {
    display: inline-block;
    width: 90%;
    margin-top: 100px;
    padding: 25px 5px;
    font-size: 3rem;
    transform: rotate(-2deg);
    color: var(--white);
    background-color: var(--black);
    
}

#header-content span {
    display: block;
    position: absolute;
    padding: 10px 10px;
    font-size: 1.2rem;
    color: var(--black);
    background-color: var(--white);
}





/****************************** ****************************** ******************************
                                   HTML5 Audio Section
****************************** ****************************** ******************************/


/* 
    Html Audio Element presented a challange 
    to style as it is different across browsers
    defaults to a grey background, Without using JavaScript
    I cannot create my own controls and must rely on the HTML5 Element
*/
#album-preview {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #191919;
}

#album-preview figure {
    position: absolute;
    top: -164px;
    left: 0;
    right: 0;
    margin: 0;
    color: var(--white);
    font-family: 'Amatic SC', cursive;
    font-size: 1.6rem;
    text-shadow: 2px 2px 6px #111;
}

#album-preview img {
    visibility: hidden;
    border: 3px solid var(--black);
}






/****************************** ****************************** ******************************
                                   News Feed
****************************** ****************************** ******************************/


#news-feed {
    width: 100%;
    padding: 25px 0;
    color: #ddd;
    background-color: var(--black);
}

#news-feed h2 {
    margin-left: 30px;
    margin-bottom: 15px;
    font-family: 'Amatic SC', cursive;
}

.news-item-container {
    max-width: 270px;
}

.news-image {
    height: 150px;
}

.news-heading {
    font-size: .8em;
    color: var(--blue);
}

.news-details {
    font-weight: bold;
}

.news-subline {
    font-weight: lighter;
}





/****************************** ****************************** ******************************
                                   Creative
****************************** ****************************** ******************************/


#creative {
    background: linear-gradient( 
            rgba(46, 55, 78, 1.0),  
            rgba(46, 55, 78, 1.0)
            );
    padding-bottom: 20px;
    color: var(--white);
}

#creative div {
    box-sizing: border-box;
    padding-left: 30px;
    text-align: left;
}

#creative p {
    margin: 0;
    padding: 60px 30px 20px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
    line-height: 1.9rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #000;
}

#creative div img {
    display: block;
    width: 50%;
    margin-top: -40px;
    margin-left: 50%;
}







