/* Media Queries based on content breakpoints and not common device specific breakpoints */

/* 
    Target only webkit browsers - from Stack Overflow 
    Issue: Browsers style the html audio individually
    Solution: Target webkit browsers and set div background color;
*/
@media screen and (-webkit-min-device-pixel-ratio:0){

    #album-preview {
        background-color: var(--white); 
    } 
}





/****************************** ****************************** ******************************
                                  Mobile  Queries
****************************** ****************************** ******************************/

/* 
    In this case a desktop first approach was preferable.
    Help from CSS Tricks was needed to arrange the table in mobile view.
    In particular the addition of nth:selector and :before selector to transform the headings
    into a good mobile view.
    When desktop width is reached - will be transformed to a table again.
*/
@media screen and (max-width: 750px) { 

    #table-desktop-heading {
        display: none;
    }

    #table-mobile-heading {
        display: table-row;
        background: none;
    }

    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    tr {
        height: auto;
    }

    td { 
        position: relative;
        min-height: 2em;
        margin-left: 10px;
        padding-left: 40%; 
        border: none;
    }
    
    td:before { 
        position: absolute;
        top: 0;
        left: 0;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    td:nth-of-type(1):before { content: "Date"; font-weight: bold;}
    td:nth-of-type(2):before { content: "Location"; font-weight: bold;}
    td:nth-of-type(3):before { content: "Venue"; font-weight: bold;}
    td:nth-of-type(4):before { content: "Tickets"; font-weight: bold;}
}





/****************************** ****************************** ******************************
                                  Mobile First Approach - Desktop Queries
****************************** ****************************** ******************************/

/*  500px */
@media screen and (min-width: 500px) {
    
    #creative div img {
        width: 50%;
        margin-top: -55px;
        margin-left: 50%;
    }
}


/* 600px */
@media screen and (min-width: 600px) {

    #creative p {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 1.5px;
    }

    .grid-container {
        grid-template-columns: auto auto;
    }
}


/* 750p */
@media screen and (min-width: 750px) {

    /* Disable mobile menu */
    #label-mobile, 
    #menu-mobile {
        display: none;
    }

    /* Activate desktop menu */
    #nav-menu, 
    #social-menu {
        display: inline-block;
    }

    #header-content h1 {
        width: auto;
        max-width: 85%;
        padding: 20px 30px;
        font-size: 6rem;
    }

    #header-content span {
        padding: 10px 20px;
        font-size: 2rem;
    }

    #album-preview figure {
        top: -164px;
        font-size: 1.8em;
    }

    #album-preview img {
        visibility: visible;
    }

    #creative div img {
        margin-top: -120px;
    }
}


/*  900px */
@media screen and (min-width: 900px) {

    .grid-container {
        grid-template-columns: auto auto auto;
    }
}


/*  1000px */
@media screen and (min-width: 1000px) {

    #creative div img {
        margin-top: -230px;
    }
}


/* 1200px */
@media screen and (min-width: 1200px) {

    #creative {
        height: 700px;
        background: url('../images/backgrounds/desert-vampire.png'), 
                    linear-gradient(
                        rgba(46, 55, 78, 1.0), 
                        rgba(46, 55, 78, 1.0)
                    );
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom right;
    }

    #creative div p {
        padding-bottom: 50px;
        line-height: 3.5rem;
    }

    #creative div img {
        display: none;
    }

    .grid-container {
        grid-template-columns: auto auto auto auto;
    }
}


/* 1400px */
@media screen and (min-width: 1400px) {

    #creative p {
        margin: 0;
        padding-top: 150px;
        font-size: 2rem;
        font-family: 'Amatic SC', cursive;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px #000;
    }
}

