

/****************************** ****************************** ******************************
                                    Navigation / Menu
****************************** ****************************** ******************************/


header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: var(--black);
    box-shadow: var(--boxshadow);
}

nav {
    min-width: auto;
    padding: .3rem 0;
    padding: 5px 30px;
}

nav li a {
    transition: 0.4s;
    color: var(--white);
}

nav li a:hover {
    color: var(--blue);
}

nav a img {
    margin-right: 30px;
    vertical-align: middle;
}






/****************************** ****************************** ******************************
                                    Mobile Menu
****************************** ****************************** ******************************/


/* Checkbox Hack - Position checkbox off the screen */
#nav-checkbox {
    position: absolute;
    top: -99px;
}

/* Click label to activate menu */
#label-mobile {
    position: relative;
    float: right;
    top: 10px;
    cursor: pointer;
    color: var(--white);
}

/* 
    Position div off screen to the left
    When activated fill whole screen and slide in
    Use flex to determine contents center
*/
#menu-mobile {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: -100vw;
    z-index: 99;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .25s;
    transition-timing-function: ease-in-out;
    background-color: var(--black);
}

#nav-mobile  {
    margin-top: -70px;
}

#menu-mobile li {
    display: block;
    line-height: 1em;
    font-size: 1em;
}

#social-mobile li {
    display: inline-block;
}

#social-mobile li a {
    color: var(--blue);
}

/* When checkbox toggled - change (left) on menu-mobile div */
input[type="checkbox"]:checked ~ #menu-mobile {
    left: 0;
}





/****************************** ****************************** ******************************
                                    Desktop Menu
****************************** ****************************** ******************************/


#nav-menu, 
#social-menu {
    display: none;
}

#nav-menu li:hover {
    animation: menuhop .2s 1;
    color: var(--blue);
}

@keyframes menuhop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.25em);
    }
    100% {
        transform: translateY(0);
    }
}

#social-menu {
    float: right;
}

#social-menu li a {
    margin-left: -20px;
    padding: 3px 5px;
    border: 2px solid var(--blue);
    font-size: .85em;
}

#social-menu li a:hover {
    border-color: var(--darkgrey);
}
