
/****************************** ****************************** ******************************
                                    Store / Buy Music
****************************** ****************************** ******************************/

.container h2 {
    margin: 110px 30px 50px;
    color: var(--black); 
}

.album-title {
    font-size: 0.8em;
    letter-spacing: -.5px;
    text-transform: uppercase;
    color: #333;
}

.album-image {
    height: 200px;
}

.album-links {
    margin-top: 20px;
}

.album-links a {
    display: block;
    height: 25px; 
    color: var(--black);
}

.album-links a:hover {
    transition: 0.3s;
    text-decoration: underline;
    color: var(--linkblue);
}

.album-links a span {
    display: inline-block;
    width: 30px;
}
