
/****************************** ****************************** ******************************
                                    Store / Buy Music
****************************** ****************************** ******************************/


#store {
    margin: 0 auto 110px;
}

.container h2 {
    margin: 100px 50px 0;
}

.media-title, .media-price {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

.media-image {
    height: 200px;
}

.media-links {
    margin-top: 20px;
}

.media-links a {
    display: block;
    height: 25px; 
    color: #424242;
}

.media-links a:hover {
    transition: 0.3s;
    text-decoration: underline;
    color: var(--linkblue);
}

.media-links a span {
    display: inline-block;
    width: 30px;
}