
/****************************** CSS Variables ******************************/

:root {
	/* Colors */ 
    --black: #100F11;
    --blue: #00ACD6;
    --darkblue: #31394E;
    --red: #F3161A;
    --white: #f5f5f5;
    --darkgrey: #222;
}




/****************************** Font Imports ******************************/

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Titillium Web';
    src: url(../fonts/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: 'Passion One';
    src: url(../fonts/PassionOne-Black.ttf);
}



/****************************** Global Styles ******************************/

/* Goal is to prevent and reduce duplicate styles when possible */

body, ul {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: (--white);
}

/* Gradient and image used */
body {
    /* Gradient used as color wont apply */
    background: url('../images/background-image.png'), 
                linear-gradient(
                    rgba(46, 55, 78, 1.0), 
                    rgba(46, 55, 78, 1.0)
                );
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom right;
}   

ul {
    list-style: none;
    display: inline-block;
}

li {
    padding: 15px;
    letter-spacing: -0.35px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

li a {
    transition: 0.4s;
}

li a:hover {
    color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--white);
}


/****************************** ****************************** ******************************
                                    Navigation / Menu
****************************** ****************************** ******************************/

/*Permenant Navbar Styles */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--black);
    z-index: 100;
    box-shadow: 0 1px 20px 1px rgba(0,0,0,0.4);
}

nav {
    max-width: 1260px;
    padding: .3rem 0;
    margin: auto;
    padding: 5px 30px;
}

nav a img {
    vertical-align: middle;
    margin-right: 30px;
}




/****************************** Menu-Mobile ******************************/

/* Checkbox Hack - Position checkbox off the screen */
input[type="checkbox"] {
    position: absolute;
    top: -99px;
}

/* Label can be clicked to active checkbox event */
label {
    cursor: pointer;
    color: var(--white);
    position: relative;
    float: right;
    top: 10px;
}

/* 
    Position div off screen to the left
    When activated fill whole screen and slide in
    Use flex to determine contents center
*/
#menu-mobile {
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: -100vw;
    background-color: var(--black);
    z-index: 99;
    transition: .25s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-mobile {
    margin-top: -20px;
}

#menu-mobile li {
    line-height: 1.2em;
    font-size: 1.2em;
    display: block;
}

/* Style font-awesome icons horizontally */
#social-mobile li {
    margin-top: 50%;
    display: inline-block;
}

#social-mobile li a {
    color: var(--blue);
}

/* When checkbox toggled - change (left) on menu-mobile div */
input[type="checkbox"]:checked ~ #menu-mobile {
    left: 0;
}




/****************************** Desktop-Menu ******************************/

/* Set default display to none */
#nav-menu, 
#social-menu {
    display: none;
}

/* Add animation to desktop main menu */
#nav-menu li:hover {
    animation: menuhop .2s 1;
    color: var(--blue);
}

@keyframes menuhop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.25em);
    }
    100% {
        transform: translateY(0);
    }
}


/* Social menu ul */
#social-menu {
    float: right;
}

#social-menu li a {
    border: 2px solid var(--blue);
    padding: 3px 5px;
    font-size: .75em;
    margin-left: -20px;
}

#social-menu li a:hover {
    border-color: var(--darkgrey);
}


/* Hide social sub nav until hovered */
#social-list {
    display: none;
    position: absolute;
    background-color: var(--black);
    transform: translateX(28px);
    top: 50px;
    width: 100px;
    padding: 0 0 4px 20px;
    z-index: 101;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* 
    Keep social menu open while hovered,
    To prevent it closing added the menu itself 
    with z-index being greater than the navbar 
*/
#social-tab:hover + #social-list,
 #social-list:hover {
    display: block;
}

#social-list li a {
    border-color: var(--darkgrey);
}







/****************************** ****************************** ******************************
                                    INDEX / HOME PAGE
****************************** ****************************** ******************************/

/* Create slideshow */
#slideshow, #slideshow-2, #slideshow-overlay {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    box-shadow: 0 1px 20px 1px rgba(0,0,0,0.4);
    height: 100vh;
    width: 100vw;
}

/* Set background image for slideshow fade */
#slideshow {
    background-image: url('https://d1b8neuccscdpp.cloudfront.net/img/viewfinder/uploads/5a5e84cd30955.jpg');
}
/* Set background image for slideshow fade */
#slideshow-2 {
    background-image: url('https://d1b8neuccscdpp.cloudfront.net/img/viewfinder/uploads/5a5e84c6570e8.jpg');
    animation: slideshow  10s infinite;
}

/* Create Overlay on slideshow for better text legibility */
#slideshow-overlay {
    /* background: linear-gradient rgba(49, 57, 78, 0.5), rgba(46, 55, 78, 1.0); */
    background: linear-gradient( to top,rgba(49, 57, 78, 0.5) 25%, rgba(0, 0, 0, 1.0));
    position: absolute;
    z-index: 1;
    top: 0;
}

/* 
    When image fades the background image will be revealed 
    giving the illusion of a slideshow
*/
@keyframes slideshow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Title Text */
#header-content {
    z-index: 1;
    text-align: center;
}

#header-content h1 {
    font-family: 'Passion One';
    font-size: 3rem;
    color: var(--white);
    text-shadow: 2px 2px 7px #000;
    margin-top: 100px;
}





/****************************** Navigation Menu Media Queries ******************************/

@media screen and (min-width: 750px) {

    /* Disable mobile menu */
    #label-mobile, 
    #menu-mobile {
        display: none;
    }

    /* Activate desktop menu */
    #nav-menu, 
    #social-menu {
        display: inline-block;
    }

    #header-content h1 {
        font-size: 5rem;
    }
}

