
/****************************** CSS Variables ******************************/

:root {
    --black: #100F11;
    --blue: #00ACD6;
    --darkblue: #31394E;
    --red: #F3161A;
    --white: #f5f5f5;
    --darkgrey: #222;
    --boxshadow: 0 1px 20px 1px rgba(0,0,0,0.4);
}






/****************************** Font Imports ******************************/

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'Passion One Bold';
    src: url(../fonts/PassionOne-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Amatic SC';
    src: url(../fonts/AmaticSC-Regular.ttf) format('truetype');
}







/****************************** Global Styles ******************************/
body, ul, h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul, h2, footer, #interlude {
    color: var(--white);
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    padding: 15px;
    letter-spacing: -0.15px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

li a {
    transition: 0.4s;
}

li a:hover {
    color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--white);
}

nav, 
#news-feed-container, 
#interlude div, 
#newletter {
    margin: auto;
    max-width: 1260px;
    min-width: 320px;
}

#newsletter {
    background-image: url('../images/backgrounds/background-image.png');
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}





/****************************** ****************************** ******************************
                                    Navigation / Menu
****************************** ****************************** ******************************/

/*Permenant Navbar Styles */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--black);
    z-index: 100;
    box-shadow: var(--box-shadow);
}

nav {
    padding: .3rem 0;
    padding: 5px 30px;
    min-width: auto;
}

nav a img {
    vertical-align: middle;
    margin-right: 30px;
}






/****************************** Menu-Mobile ******************************/

/* Checkbox Hack - Position checkbox off the screen */
#nav-checkbox {
    position: absolute;
    top: -99px;
}

/* Label can be clicked to active checkbox event */
#label-mobile {
    cursor: pointer;
    color: var(--white);
    position: relative;
    float: right;
    top: 10px;
}

/* 
    Position div off screen to the left
    When activated fill whole screen and slide in
    Use flex to determine contents center
*/
#menu-mobile {
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: -100vw;
    background-color: var(--black);
    z-index: 99;
    transition: .25s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-mobile {
    margin-top: -30px;
}

#menu-mobile li {
    line-height: 1.2em;
    font-size: 1.2em;
    display: block;
}

/* Style font-awesome icons horizontally */
#social-mobile li {
    display: inline-block;
}

#social-mobile li a {
    color: var(--blue);
}

/* When checkbox toggled - change (left) on menu-mobile div */
input[type="checkbox"]:checked ~ #menu-mobile {
    left: 0;
}






/****************************** Desktop-Menu ******************************/

/* Set default display to none */
#nav-menu, 
#social-menu {
    display: none;
}

/* Add animation to desktop main menu */
#nav-menu li:hover {
    animation: menuhop .2s 1;
    color: var(--blue);
}

@keyframes menuhop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-.25em);
    }
    100% {
        transform: translateY(0);
    }
}


/* Social menu ul */
#social-menu {
    float: right;
}

#social-menu li a {
    border: 2px solid var(--blue);
    padding: 3px 5px;
    font-size: .85em;
    margin-left: -20px;
}

#social-menu li a:hover {
    border-color: var(--darkgrey);
}


/* Hide social sub nav until hovered */
#social-list {
    display: none;
    position: absolute;
    background-color: var(--black);
    transform: translateX(28px);
    top: 50px;
    width: 100px;
    padding: 0 0 4px 20px;
    z-index: 101;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* 
    Keep social menu open while hovered,
    To prevent it closing added the menu itself 
    with z-index being greater than the navbar 
*/
#social-tab:hover + #social-list,
 #social-list:hover {
    display: block;
}

#social-list li a {
    border-color: var(--darkgrey);
}






/****************************** ****************************** ******************************
                                    INDEX / HOME PAGE
****************************** ****************************** ******************************/



/****************************** Slideshow ******************************/

#slideshow, #slideshow-2, #slideshow-overlay {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    height: 100vh;
}

/* Set background image for slideshow fade */
#slideshow {
    background-image: url('https://d1b8neuccscdpp.cloudfront.net/img/viewfinder/uploads/5a5e84cd30955.jpg');
}
/* Set background image for slideshow fade */
#slideshow-2 {
    background-image: url('https://d1b8neuccscdpp.cloudfront.net/img/viewfinder/uploads/5a5e84c6570e8.jpg');
    animation: slideshow  10s infinite;
}

/* Create overlay on slideshow for better text legibility */
#slideshow-overlay {
    background: linear-gradient( to top,rgba(49, 57, 78, 0.5) 25%, rgba(0, 0, 0, 1.0));
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
}

/* 
    When image fades the background image will be revealed 
    giving the illusion of a slideshow
*/
@keyframes slideshow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}






/****************************** Header Content ******************************/

#header-content {
    z-index: 1;
    text-align: center;
    font-family: 'Passion One Bold', sans-serif;
    position: relative;
    height: 100vh;
}

#header-content h1, #header-content span {
    box-shadow: var(--boxshadow);
    border-radius: 2px;
}

#header-content h1 {
    font-size: 3rem;
    color: var(--white);
    margin-top: 100px;
    display: inline-block;
    background-color: var(--black);
    padding: 25px 5px;
    transform: rotate(-2deg);
    width: 90%;
    
}

#header-content span {
    display: block;
    position: absolute;
    background-color: var(--white);
    font-size: 1.2rem;
    padding: 10px 10px;
    color: var(--black);
}






/****************************** HTML5 Audio / Album Cover ******************************/

/* 
    Html Audio Element presented a challange 
    to style as it is different across browsers
    defaults to a grey background, Without using JavaScript
    I cannot create my own controls and must rely on the HTML5 Element
*/
#album-preview {
    background-color: #191919;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Target only webkit browsers - from Stack Overflow */
@media screen and (-webkit-min-device-pixel-ratio:0){
    #album-preview {
        background-color: var(--white); 
    } 
}


#album-preview figure {
    position: absolute;
    top: -164px;
    left: 0;
    right: 0;
    color: var(--white);
    font-family: 'Amatic SC', cursive;
    font-size: 1.6rem;
    text-shadow: 2px 2px 6px #111;
    margin: 0;
}

#album-preview img {
    visibility: hidden;
    border: 3px solid var(--black);
}






/****************************** News Feed ******************************/

/* 
    Decided to use flexbox to align and resize
    news feed items, most element have set sizes and
    look good on mobile, tablet and desktop. Regardless
    of screen orientation.
*/

#news-feed {
    padding: 25px 0;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
}

#news-feed h2 {
    margin-left: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
}

/* Wrap items as screen resizes and keep centered */
#news-container {
    padding:  0 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-item-container {
    width: 260px;
    padding: 20px;
}

/*  Restrict image size */
.news-image {
    height: 151px;
}

.news-heading {
    color: var(--blue);
    font-size: .8em;
}

/* Text styling */
.news-details {
    font-weight: bold;
}

.news-subline {
    font-weight: lighter;
}






/****************************** Interlude ******************************/

#interlude {
    background: linear-gradient( 
            rgba(46, 55, 78, 1.0),  
            rgba(46, 55, 78, 1.0)
            );
    padding-bottom: 20px;
}

#interlude div {
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
}

#interlude p {
    padding: 60px 30px 20px;
    margin: 0;
    line-height: 1.9rem;
    font-size: 1.2em;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #000;
}

#interlude div img {
    display: block;
    margin-top: -40px;
    margin-left: 50%;
    width: 50%;
}






/****************************** ****************************** ******************************
                                    NEWSLETTER PAGE
****************************** ****************************** ******************************/

#newsletter-heading {
    padding: 110px 30px 40px;
    background: linear-gradient( to top,rgba(49, 57, 78, 0.9) 25%, rgba(0, 0, 0, 1.0)), url('https://d1b8neuccscdpp.cloudfront.net/img/viewfinder/uploads/5a5e84cd30955.jpg'); 
    background-size: cover;
    color: var(--white);
    text-align: center;
    border-bottom: 40px solid var(--black);
}

#newsletter-heading h1 {
    font-family: 'Passion One Bold', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin: 0;
}

#newsletter form {
    margin: 50px auto;
    max-width: 600px;
    padding: 0 30px;
    border: none;
}

#newsletter fieldset {
    margin: 60px 0;
    border: none;
}

#newsletter fieldset legend {
    font-family: 'Amatic SC', cursive;
    font-size: 1.6rem;
    letter-spacing: 2.5px;
}

#newsletter label {
    display: block;
    margin: 30px 0 10px;
}

#newsletter input[type="text"],
#newsletter input[type="email"],
#newsletter input[type="date"],
select {
    width: 100%;
    border: 1px solid #999;
    padding: 10px;
}


.multiline-fields label {
    margin-bottom: 15px;
}

.multiline-fields span {
    margin: 10px;  
}

#agree-div {
    margin-bottom: 50px;
}

#agree-div input[type="checkbox"] {
    margin-left: 0;
    margin-right: 5px;
    margin-top: 30px;
}

#agree-div label{
    display: inline-block;
    font-size: 0.7rem;
    margin-top: 5px;
}
/* #newsletter form {
    margin: 70px auto;
    padding: 0 30px;
    max-width: 600px;
}

#newsletter label {
    display: block;
    margin: 10px 0 7px;
}

fieldset {
    margin-top: 60px;
    border: none;
}

fieldset div {

}

legend {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2.5px;
}

input[type="text"], input[type="email"] {
    border: 1px solid #999;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#newsletter input[type="checkbox"] {
    margin-left: 0;
}

#consent-label {
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    font-size: .85em;
}
#form-buttons {
    margin-top: 30px;
}

fieldset input[type="checkbox"], fieldset input[type="radio"] {
    display: inline-block;
}


fieldset div span {
    margin-left: 10px;
    margin-right: 30px;
} */

#form-buttons input {
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: var(--darkblue);
    color: var(--white);
    display: block;
    width: 100%;
    box-shadow: var(--boxshadow);
    transition: 0.4s;
}

#form-buttons input:hover {
    background-color: var(--black);
    box-shadow: 0 3px 15px 1px rgba(0,0,0,0.8);
}


/****************************** ****************************** ******************************
                                    Footer
****************************** ****************************** ******************************/


footer  {
    background-color: var(--black);
    padding: 1px;
    text-align: center;    
}

/* 
    Only used on pages that might need the footer 
    stuck to bottom when content cant fill the height
*/
#footer {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.reverse-letter {
    transform: scale(-1, 1);
    display: inline-block;
}






/****************************** ****************************** ******************************
                                    Desktop Media Queries
****************************** ****************************** ******************************/

/*  500px */
@media screen and (min-width: 500px) {
    #interlude div img {
        margin-top: -55px;
        margin-left: 50%;
        width: 50%;
    }
}



/* 600px */
@media screen and (min-width: 600px) {
    #interlude p {
        font-size: 2rem;
        letter-spacing: 1.5px;
        line-height: 2.5rem;
    }
}



/* 750p */
@media screen and (min-width: 750px) {

    /* Disable mobile menu */
    #label-mobile, 
    #menu-mobile {
        display: none;
    }

    /* Activate desktop menu */
    #nav-menu, 
    #social-menu {
        display: inline-block;
    }

    #header-content h1 {
        font-size: 6rem;
        padding: 20px 30px;
        width: auto;
        max-width: 85%;
    }

    #header-content span {
        font-size: 2rem;
        padding: 10px 20px;
    }

    #album-preview figure {
        font-size: 1.8em;
        top: -164px;
    }

    #album-preview img {
        visibility: visible;
    }

    #interlude div img {
        margin-top: -120px;
    }
}


/*  1000px */
@media screen and (min-width: 1000px) {
    #interlude div img {
        margin-top: -230px;
    }
}


/* 1200px */
@media screen and (min-width: 1200px) {

    #interlude {
        height: 700px;
        background: url('../images/backgrounds/desert-vampire.png'), 
                    linear-gradient(
                        rgba(46, 55, 78, 1.0), 
                        rgba(46, 55, 78, 1.0)
                    );
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom right;
    }

    #interlude div p {
        line-height: 3.5rem;
        padding-bottom: 50px;
    }

    #interlude div img {
        display: none;
    }
}



/* 1400px */
@media screen and (min-width: 1400px) {

    #interlude p {
        padding-top: 150px;
        margin: 0;
        font-size: 2rem;
        font-family: 'Amatic SC', cursive;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px #000;
    }
}

