
/****************************** ****************************** ******************************
                                    Live / Tour Dates
****************************** ****************************** ******************************/


#tour-table {
    padding: 110px 0;
}

table {
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-collapse: collapse;
}

th {
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: 'Passion One Bold', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    text-transform: uppercase;
}

th i {
    padding-right: 15px;
    font-size: 0.8em;
}

th, td {
    text-align: left;
    padding-left: 15px;
}

tr {
    height: 3em;
    padding: 15px;
    font-size: 0.9em;
    border-bottom: 1px solid#999;
}

tr:nth-child(odd) {
    background-color: #f5f5f5;
}

td .available {
    color: var(--linkblue);
}

td a:hover {
    text-decoration: underline; 
}

#table-mobile-heading {
    display: none;
}

