

/****************************** ****************************** ******************************
                                    Live / Tour Page
****************************** ****************************** ******************************/


#tour-table {
    padding: 110px 0;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    letter-spacing: 1.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* Table heading */
th {
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: 'Passion One Bold', 'Roboto', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

th i {
    padding-right: 15px;
    font-size: 0.8em;
}

th, td {
    text-align: left;
    padding-left: 15px;
}

/* Table Row */
tr {
    padding: 15px;
    height: 3em;
    font-size: 0.9em;
}

tr:nth-child(odd) {
    background-color: #e5e5e5;
}


/* Table Data */
td .available {
    color: var(--red);
}

td a:hover {
    text-decoration: underline; 
}

#table-mobile-heading {
    display: none;
}

/* 
    In this case a desktop first approach was preferable.
    Help from CSS Tricks was needed to arrange the table in mobile view.
    In particular the addition of nth:selector and :before selector to transform the headings
    into a good mobile view.
    When desktop width is reached - will be transformed to a table again.
*/
@media screen and (max-width: 750px) { 

    #table-desktop-heading {
        display: none;
    }

    #table-mobile-heading {
        display: table-row;
        background: none;
    }

    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    tr {
        height: auto;
    }

    td { 
        position: relative;
        border: none;
        padding-left: 40%; 
        min-height: 2em;
        margin-left: 10px;
    }
    
    td:before { 
        position: absolute;
        top: 0;
        left: 0;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    td:nth-of-type(1):before { content: "Date"; font-weight: bold;}
    td:nth-of-type(2):before { content: "Location"; font-weight: bold;}
    td:nth-of-type(3):before { content: "Venue"; font-weight: bold;}
    td:nth-of-type(4):before { content: "Tickets"; font-weight: bold;}
}

