<!-- Navigation  -->
<header>
    <!-- Mobile Navigation -->
    <nav id="mobile-nav">
        <!-- CSS Checkbox hack required to open and collaspe nav - no JavaScript-->
        <div id="navbar">
            <a href="index.html"><img src="assets/images/favicon.png" height="50px" alt="Foo Fighter Logo - link to Home"></a>
            <label for="nav-checkbox">ME<br />NU</label>
        </div>
        <input type="checkbox" id="nav-checkbox">
        <div id="mobile-menu">
            <ul>
                <li><a href="store.html">Store</a></li>
                <li><a href="tour.html">Tour</a></li>
                <li><a href="media.html">Media</a></li>
                <li><a href="band.html">Band</a></li>
                <li><a href="newsletter.html">Newsletter</a></li>
            </ul>
        </div>
    </nav>

    <!-- Desktop navigation -->
    <nav></nav>
/*************** Font Imports ***************/

@import url('https://fonts.googleapis.com/css?family=Poppins');



/*************** Global Styles ***************/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: lightpink;
}

/*
* Mobile Navigation Menu 
*/
#mobile-nav {
    position: fixed;
    top: 0;
    padding: 15px;
    z-index: 2;
    text-align: center;
}


#mobile-nav label {
    position: absolute;
    top: 15px;
    left: calc(100vw - 50px);
    cursor: pointer;
}


/* Hide checkbox off screen */
#mobile-nav input[type="checkbox"] {
    position: absolute;
    top: -99px;
}

#mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mobile-nav a {
    text-decoration: none;
}

/* Default Mobile Nav Position */
#mobile-nav input[type="checkbox"] ~ #mobile-menu {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    text-align: center;
    transition: 1s;
    background: grey;
}

/* Checkbox Toggled Mobile Nav Position */
#mobile-nav input[type="checkbox"]:checked ~ #mobile-menu {
    left: 0;
}
